<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/styles.pcss" />
    <title>Profile</title>
  </head>
  <body>
    <main class="profile">
      <a href="../../main/main.hbs" class="profile__back">
        <button class="profile__back-btn"><i
            class="fas fa-solid fa-arrow-left-long"
          ></i></button>
      </a>
      <div class="profile__data">
        <div class="image">
          <img src="../../../asserts/no-image.png" alt="" />
          <button>
            Поменять
            <br />
            аватар</button>
        </div>
        <form class="change-form">
          <div class="point">
            <label class="text">Старый пароль</label>
            <input name="oldPassword" type="password" class="user-data" value="**********" />
          </div>
          <hr />
          <div class="point">
            <label class="text">Новый пароль</label>
            <input name="newPassword" type="password" class="user-data" value="**********" />
          </div>
          <hr />
          <div class="point">
            <label class="text">Повторите новый пароль</label>
            <input name="newPasswordRepeat" type="password" class="user-data" value="**********" />
          </div>
          <div class="profile__data-change">
            <button class="change-btn" type="submit">Сохранить</button>
          </div>
        </form>
      </div>
      <dialog class="image-chooser">
        <div>
          <h1>Загрузите файл</h1>
          <label for="choose-file">
            Выбрать файл на
            <br />
            компьютере
            <input name="avatar" id="choose-file" type="file" />
          </label>
          <button>Поменять</button></div>
      </dialog>
    </main>
    <script
      src="https://kit.fontawesome.com/485fbccb06.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>