.point {
  position: relative;

  &:focus-within {
    .text {
      display: none;
    }
    input {
      text-align: start;
      color: black;
    }
  }

  .user-data {
    border: none;
    text-align: end;
    flex-grow: 1;
    outline: none;
  }
}

.change-btn {
  height: 37px;
  width: 280px;
  background: blue;
  border: none;
  color: white;
  border-radius: 8px;
}

.change-form {
  margin-top: 97px;
}