<main class="profile">
  <a href="/main" class="profile__back">
    <button class="profile__back-btn"><i
        class="fas fa-solid fa-arrow-left-long"
      ></i></button>
  </a>
  <div class="profile__data">
   {{{avatar}}}
    <h1>Имя пользователя</h1>
    <div class="point">
      <p class="text">Почта</p>
      <span class="user-data">pochta@yandex.ru</span>
    </div>
    
    <div class="point">
      <p class="text">Логин</p>
      <span class="user-data">pochta@yandex.ru</span>
    </div>
    
    <div class="point">
      <p class="text">Имя</p>
      <span class="user-data">first name</span>
    </div>
    
    <div class="point">
      <p class="text">Фамилия</p>
      <span class="user-data">last name</span>
    </div>
    
    <div class="point">
      <p class="text">Имя в чате</p>
      <span class="user-data">nickname</span>
    </div>
    
    <div class="point">
      <p class="text">Телефон</p>
      <span class="user-data">+7 (777) 777 77 77</span>
    </div>
    <div class="profile__data-change">
      <div class="point">
        <a href="profile-data-change">Изменить данные</a>
      </div>
      
      <div class="point">
        <a href="password-change">Изменить пароль</a>
      </div>
      
      <div class="point">
        <a style="color: red;">Выйти</a>
      </div>
    </div>
  </div>
  {{{changeAvatarModalWindow}}}
</main>