<main class="profile">
  <a href="/main" class="profile__back">
    <button class="profile__back-btn"><i
        class="fas fa-solid fa-arrow-left-long"
      ></i></button>
  </a>
  <div class="profile__data">
    <div class="image">
      <img src="../../asserts/no-image.png" alt="" />
      <button>
        Поменять
        <br />
        аватар</button>
    </div>
    <h1>Имя пользователя</h1>
    <div class="point">
      <p class="text">Почта</p>
      <span class="user-data">pochta@yandex.ru</span>
    </div>
    <hr />
    <div class="point">
      <p class="text">Логин</p>
      <span class="user-data">pochta@yandex.ru</span>
    </div>
    <hr />
    <div class="point">
      <p class="text">Имя</p>
      <span class="user-data">first name</span>
    </div>
    <hr />
    <div class="point">
      <p class="text">Фамилия</p>
      <span class="user-data">last name</span>
    </div>
    <hr />
    <div class="point">
      <p class="text">Имя в чате</p>
      <span class="user-data">nickname</span>
    </div>
    <hr />
    <div class="point">
      <p class="text">Телефон</p>
      <span class="user-data">+7 (777) 777 77 77</span>
    </div>
    <div class="profile__data-change">
      <div class="point">
        <a>Изменить данные</a>
      </div>
      <hr />
      <div class="point">
        <a>Изменить пароль</a>
      </div>
      <hr />
      <div class="point">
        <a style="color: red;">Выйти</a>
      </div>
    </div>
  </div>
  {{{changeAvatarModalWindow}}}
</main>