<main class="profile">
  <a href="/profile" class="profile__back">
    <button class="profile__back-btn"><i
        class="fas fa-solid fa-arrow-left-long"
      ></i></button>
  </a>
  <div class="profile__data">
    {{{avatar}}}
   {{{profileDataChangeForm}}}
  </div>
  {{{changeAvatarModalWindow}}}
</main>