<main class="container">
    <a href="pages/logIn/logIn.hbs">LogIn</a>
    <a href="pages/signIn/signIn.hbs">SignIn</a>
    <a href="pages/main/main.hbs">Main</a>
    <a href="pages/profile/profile.hbs">Profile</a>
    <a href="pages/errors/404.hbs">404</a>
    <a href="pages/errors/505.hbs">505</a>
</main>