<main class="container">
    <a href="routes/logIn/logIn.hbs">LogIn</a>
    <a href="routes/signIn/signIn.hbs">SignIn</a>
    <a href="routes/main/main.hbs">Main</a>
    <a href="routes/profile/profile.hbs">Profile</a>
    <a href="routes/errors/404.hbs">404</a>
    <a href="routes/errors/505.hbs">505</a>
</main>