<main class="container">
  <nav>
    <ul>
      <li><a href="routes/logIn/logIn.hbs">LogIn</a></li>
      <li><a href="routes/signIn/signIn.hbs">SignIn</a></li>
      <li><a href="routes/main/main.hbs">Main</a></li>
      <li><a href="routes/profile/profile.hbs">Profile</a></li>
      <li><a href="routes//profile/change/profile-data-change.hbs">Profile-change</a></li>
      <li><a href="routes//profile/change/password-change.hbs">Password-change</a></li>
      <li><a href="routes/errors/404.hbs">404</a></li>
      <li><a href="routes/errors/505.hbs">505</a></li>
    </ul>
  </nav>
</main>