<main class="container">
  <nav>
    <ul>
      <li><a href="/log-in">LogIn</a></li>
      <li><a href="/sign-in">SignIn</a></li>
      <li><a href="/main">Main</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/profile-data-change">Profile-change</a></li>
      <li><a href="/password-change">Password-change</a></li>
      <li><a href="/errors/404">404</a></li>
      <li><a href="/errors/505">505</a></li>
    </ul>
  </nav>
</main>