<div class="chat-card">
        <div class="chat-card__img"></div>
        <div class="chat-card__description">
            <div class="chat-card__username">{{username}}</div>
            <div class="chat-card__last-message"> {{lastMessage}}</div>
        </div>
        <div class="chat-card__other-info">
            <div class="chat-card__time">{{time}}</div>
            <div class="chat-card__amount">{{newMessagesAmount}}</div>
        </div>
    </div>