<dialog class="image-chooser">
  <div>
    <h1>Загрузите файл</h1>
    <label for="choose-file">
      Выбрать файл на
      <br />
      компьютере
      <input name="avatar" id="choose-file" type="file" />
    </label>
    {{!-- Поменять --}}
    {{{ChangeAvatarButton}}}
    </div>
</dialog>