<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet"  href="../../styles/styles.pcss" />
  </head>
  <body>
    <main class="container">
      <div class="login">
        <h1>Вход</h1>
        <div class="login__input_block">
          <input class="login__input" type="text" required/><br />
          <label>Логин</label>
        </div>
        <div class="login__input_block">
          <input class="login__input" type="password" required/>
          <label>Пароль</label>
        </div>
        <button class="login__button blue_button">Авторизоваться</button>
        <a class="login__button white_button" href="../signIn/signIn.hbs">Нет аккаунта?</a>
      </div>
    </main>
  </body>
</html>